*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background: gray url(../img/background.jpg) no-repeat center center;
    background-size: cover;
}
kbd{
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
    position: relative;
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    color:#C5C5C5;
    font-size: 15px;
    font-family: Helvetica;
    border:1px solid #373737;
    border-radius: 7px;
    box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3px 0 2px #080808;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main .wrapper{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding:15px 20px;
}
main .wrapper div{
    text-align: center;
}
main .wrapper div:nth-child(2){
    margin-left: -35px;
}
main .wrapper div:nth-child(3){
    margin-left: -110px;
}
kbd button{
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: none;
    background-color: rgb(51,51,51);
    color: #C5C5C5;
    border: 1px solid transparent;
    border-radius: 5px;
}
kbd:hover button{
    display: inline-block;
}
kbd img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 1px;
    bottom: 1px;
}